.App {
    width: 100%;
    height: 100vh;
    background-color: #f4f4f4;

    .todos-container {
        width: 100%;
        height: 100%;

        .todos-header {
            width: 100%;
            height: 150px;

            .logo {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 100px;
                color: #e8d6da;
            }
        }

        .todos-body {
            width: 100%;
            height: fit-content;
            background-color: #ffffff;
            box-shadow: -10px 2px 10px -5px ;

            .todos-input {
                width: 100%;
                height: 60px;
            }
            .todos-list {
                width: 100%;
                height: fit-content;
            }
            .todos-operate {
                width: 100%;
                height: 50px;
            }
        }

        .todos-footer {
            width: 100%;
            height: fit-content;
            margin-top: 50px;

            .todos-representations {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: #c0c0c0;
                font-size: 14px;

                & > span {
                    padding-bottom: 5px;
                }
            }
        }
    }
}